/*DEFAULTS*/

body.page-body {
    background-image: url("assets/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1c232d;
    line-height: 1;
    display: block;
}

@media (min-width: 768px) {
    .smHidden {
        display: none;
    }
}

/*NAVBAR*/

.topnav {
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 0px rgba(163, 163, 163, 0.3);
}

#navbarUtils {
    padding-top: 15px;
}

.navbar-right li a {
    margin: 0px 20px;
    position: relative;
}

.nav-link {
    text-transform: uppercase;
    color: #c0ccd6;
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-link:hover,
.hamburger:hover {
    color: #f0f8ff;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.1s ease-in-out 0s;
}

.navbar-brand img {
    width: 307px;
    transition: 0.2s ease-in-out;
}

.navButton {
    position: absolute;
    right: 5px;
    transition: all 0.1s ease-in-out 0s;
}

.hamburger {
    color: #c0ccd6;
    line-height: 45px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    border: 1px solid black;
    transition: all 0.1s ease-in-out 0s;
}


/*Hover Animation*/

.navbar-right li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background: #c0ccd6;
    visibility: visible;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.navbar-right li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    color: aliceblue;
}

/*MOBILE*/

@media (max-width: 1375px) {
    .navbar-right li {
        margin: 0px 10px;
    }
    .navbar-brand img {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 190px;
    }
}

@media (max-width: 544px) {
    .topnav {
        background-color: #2f3541;
        background: -webkit-linear-gradient(#3a4559, #1c232d);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#3a4559, #1c232d);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#3a4559, #1c232d);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#3a4559, #1c232d);
        /* Standard syntax */
    }
    .navbar-brand {
        display: block;
        margin: auto;
    }
}

@media (max-width: 350px) {
    .navbar-brand img {
        margin-left: 0px;
        width: 120px;
    }
    .hamburger {
        font-size: 22px;
        line-height: 33px;
        transition: 0.1s ease-in-out 0s;
    }
    .navButton {
        height: 40px;
        top: 5px;
        line-height: 35px;
        transition: 0.1s ease-in-out 0s;
    }
}

/*CONTENT*/

.container-content {
    max-width: 1375px;
    margin: auto;
}

.section1 {
    margin: 20px 0px 10px 0px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.section1SmallContentTop {
    width: auto;
    height: auto;
}

.section1SmallContentBottom,
.section1SmallContentTop {

    margin: 0;
}

.contentContainer {
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 
        2px 2px 0px #3a3a3a,
        -2px -2px 0px #3a3a3a,
        -2px 2px 0px #3a3a3a,
        2px -2px 0px #3a3a3a;
}

/*MOBILE CONTENT*/

@media (max-width: 768px) {
    .section1SmallContentBottom,
    .section1SmallContentTop {
        margin-top: 50px;
    }
}
